@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Shared/_FrontEnd.cshtml";
}

<div class="col-md-9">
    <div class="error-template">
        <h1>
            Oops!
        </h1>
        <h2>
            404 Not Found
        </h2>
        <div class="error-details">
            Sorry, an error has occured, Requested page not found!
        </div>
        <div class="error-actions">
            @Html.ActionLink("Take Me Home", "Index", "Home", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>