@Model IQueryable<CommonLayer.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Shared/_FrontEnd.cshtml";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (CommonLayer.User User in Model)
        {
            <tr>
                <td>@User.FirstName</td>
                <td>@User.LastName</td>
                <td>@User.Email</td>
                <td>
                    <a href="/users/deleteuser/@User.ID" onclick="return window.confirm('Are you sure you wish to delete?');" class="btn btn-xs btn-danger">Delete</a>
                    <a href="/users/userdetails/@User.ID" class="btn btn-primary">Edit</a>
                </td>

            </tr>
        }
    </tbody>
</table>

