@Model CommonLayer.User
@{
    ViewBag.Title = "UserDetails";
    Layout = "~/Views/_Shared/_FrontEnd.cshtml";
}

<h2>UserDetails</h2>

<form action="/users/userdetails" class="form-horizontal" method="post">
    <div class="form-group">
        <label for="UserEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="UserEmail" name="UserEmail" value="@Model.UserEmail">
        </div>
    </div>
    <div class="form-group">
        <label for="UserFirstName" class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="UserFirstName" id="UserFirstName" value="@Model.UserFirstName" />
        </div>
    </div>
    <div class="form-group">
        <label for="UserLastName" class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="UserLastName" id="UserLastName" value="@Model.UserLastName" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Update</button>
        </div>
    </div>
    <input type="hidden" value="@Model.UserId" id="UserId" name="UserId" />

</form>

