@model ShoppingCart.Models.Categories

<p class="lead">Telecell</p>
<div id="MainMenu" class="list-group">
    <div class="list-group panel">
        @foreach (var Category in Model.ParentCategories)
        {
            <a href="#@Category.ID" class="list-group-item" data-toggle="collapse" data-parent="#MainMenu">@Category.Name</a>
            foreach (var SubCategory in Model.SubCategories.Where(p=>p.ParentID == Category.ID))
            {
                <div class="collapse" id="@SubCategory.ParentID">
                    @Html.ActionLink(SubCategory.Name, "Index", "Category", new { ID = SubCategory.ID }, new { @class = "list-group-item" })
                </div>
            }
        }
    </div>
</div>