@model ShoppingCart.Models.UserTypesProductPrices

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Shared/_FrontEnd.cshtml";
}

<div class="col-md-9">
    @Html.Partial("~/Views/_Shared/_Carousel.cshtml")
    <div class="row">
        @foreach (var item in Model.Products)
        {
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="@Html.DisplayFor(modelItem => item.ImageURL)" alt=""> <!--320x150-->
                    <div class="caption">
                        <h4 class="pull-right">
                            @foreach(var ProductPrice in Model.ProductPrices.Where(p => p.ProductID == item.ID && p.UserTypeID == Model.UserType.ID))
                            {
                                Html.Display("&#8364;"+ProductPrice.Price.ToString());
                            }
                        </h4>
                        <h4>
                            @Html.ActionLink(Html.DisplayFor(modelItem => item.Name).ToString(), "Index", "Product", new { ID = item.ID }, null)
                        </h4>
                        <p>@Html.DisplayFor(modelItem => item.Description)</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>