@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Shared/_FrontEnd.cshtml";
}

<div class="col-md-9">
    <h2>Checkout</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <div class="form-group">
                <label for="exampleInputPassword1">Credit Card Number</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="Name" name="Name" data-val="true" data-val-required="Name is required" />
                    <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="Description" name="Description" data-val="true" data-val-required="Description is required"></textarea>
                    <span class="field-validation-valid" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="Quantity" name="Quantity" data-val="true" data-val-required="Quantity is required" />
                    <span class="field-validation-valid" data-valmsg-for="Quantity" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <div class="col-md-10">
                    <input type="file" class="form-control" id="ImageURL" name="ImageURL" data-val="true" data-val-required="URL is required" />
                    <span class="field-validation-valid" data-valmsg-for="ImageURL" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="Price" name="Price" data-val="true" data-val-required="URL is required" />
                    <span class="field-validation-valid" data-valmsg-for="Price" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="VATRate" name="VATRate" data-val="true" data-val-required="URL is required" />
                    <span class="field-validation-valid" data-valmsg-for="VATRate" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Back to Cart", "Cart")
    </div>
</div>